@charset "utf-8";

// Add and Customize Bulma Variables Below
// See https://bulma.io/documentation/customize/with-node-sass/#6-add-your-own-bulma-styles

// Example:
//@at-root: #8a4d76;
$background: #000000;
$link: #df1921;
$info: #13256c;
$warning: #ff9f45;
$success: #8458b2;


// ----------------

@import "~bulma/bulma"; // This must be at the very end!
