@charset "utf-8";

// Add and Customize Bulma Variables Below
// See https://bulma.io/documentation/customize/with-node-sass/#6-add-your-own-bulma-styles

// Example:
//@at-root: #8a4d76;
$text: #ffffff;

$scheme-main: #000000;
$background: #000000;
$link: #7a1109;
$info: #13256c;
$warning: #ff9f45;
$success: #8458b2;
$dark: #000000;
$primary: #d6001c;
$danger: #d6001c;


// ----------------

@import "~bulma/bulma"; // This must be at the very end!
